.shipContainer {
  position: absolute;
  translate: -50% -50%;
  min-width: 1rem;
  min-height: 1rem;
  width: calc(1.9% / 6);
  height: calc(1.9% / 6);
  max-width: 3.4rem;
  max-height: 3.4rem;
  cursor: pointer;
  z-index: 0;
}
/* 
  .ship {
  } */

.shipContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.shipContainer:hover {
  /* background-color: color-mix(in srgb, currentColor 80%, #f0f0f0 100%); */
  z-index: 1;
}
.shipContainer:hover::before {
  box-shadow: 0px 0px calc(0.8 * var(--ship-icon-size))
    calc(0.6 * var(--ship-icon-size)) #fff;
}

.shipContainer.active::before {
  box-shadow: 0px 0px calc(0.8 * var(--ship-icon-size))
    calc(0.6 * var(--ship-icon-size))
    color-mix(in srgb, var(--ship-icon-color) 80%, #fff 20%);
}

.shipIcon {
  position: absolute;
  font-size: var(--ship-icon-size);
  /* width: 2rem; */
  /* height: 1.5rem; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--ship-icon-color);
  user-select: none;
}

.star {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: calc(2% / 4);
  height: calc(2% / 4);
  max-width: 4.5rem;
  max-height: 4.5rem;
}

.shipInfo {
  position: relative;
  left: 100%;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.6rem, calc(0.5 * var(--ship-icon-size)), 1.5rem);

  flex-direction: column;
}

.shipInfoMore {
  width: calc(var(--zoom) / 20 - 50%);
  /* overflow: hidden; */
}

.active {
  z-index: 1;
}
