.waypointMapOut {
  /* width: var(--zoom); */
  /* height: var(--zoom); */
  top: var(--top);
  left: var(--left);
  aspect-ratio: 1 / 1;
  /* background-color: grey; */
  position: absolute;
}

@media (min-aspect-ratio: 1/1) {
  .waypointMapOut {
    width: var(--zoom);
  }
}
@media (aspect-ratio: 1/1) {
  .waypointMapOut {
    width: var(--zoom);
  }
}
@media (max-aspect-ratio: 1/1) {
  .waypointMapOut {
    height: var(--zoom);
  }
}
